*{
    margin: 0;
    padding: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(13, 13, 13);
}
.card{
    width: 90%;
    max-width: 480px;
    background: rgb(7, 209, 250);
    margin: 100px ;
    border-radius: 25px;
    padding: 40px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search input{
    border:0;
    outline: 0;
    background:rgb(216, 225, 226);
    padding:25px;
    height: 40px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.search button{
    border:0;
    outline: 0;
    background:rgb(177, 227, 127);
    height: 40px;
    cursor: pointer;
}
.search button img{
    width:120px;
    height:45px;
}
.Weather-icon{
    width: 170px;
    margin-top: 30px;
}
.Weather h1{
    font-size:80px;
    margin-top: 3px;
    font-weight: 500;
    color:antiquewhite
}
.Weather h2{
    font-size:45px;
    margin-top: 20px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45%;
}
.col img{
    width:200px;
    margin-top: -150px;
    margin-right: 10px;
}
.Humidity,.Wind{
    font-size: 28px;
    margin-top: 10px;
}
.Weather{
    display: none;
}